@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 959px) {
    .container {
        flex-direction: column;
        max-width: 300px;
    }
}

*,
*::after,
*::before {
    font-family: "Montserrat", sans-serif;
    box-sizing: content-box;
}

body {
    color: #192951;
    overflow-x: hidden;
}


/* Menu */

.menu {
    padding: 40px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.menu-nav a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #f2ece0;
    font-size: 0.875em;
    padding: 10px;
}

.menu>div {
    align-items: center;
}

.menu-nav {
    flex: 1;
}

.menu-nav ul {
    display: flex;
    float: right;
}

@media (min-width: 960px) {
    .menu-logo-mobile img {
        display: none;
    }
}

@media (max-width: 959px) {
    .menu {
        width: 300px;
        margin: 0 auto;
    }
    .menu-logo {
        display: none;
    }
    .menu-logo-mobile img {
        width: 90%;
    }
}

@media (max-width: 959px) {
    .menu-nav a {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
    .nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: #d99725;
        padding: 160px 60px 150px 50px;
        top: 0;
        right: -240px;
        z-index: 99;
        transition: right .3s ease-in-out;
    }
    .sdw-menu {
        position: fixed;
        transform: rotate(-90deg);
        color: #fff;
        top: 100px;
        right: -35px;
        font-size: 0.75em;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        background: #d99725;
        padding: 10px 10px 50px 10px;
        border-radius: 10px 10px 0 0;
        z-index: 999;
        transition: right .3s ease-in-out;
    }
    .sdw-menu-active {
        top: 100px;
        right: 150px;
        transition: right .3s ease-in-out;
    }
    .nav-active {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: #d99725;
        padding: 160px 60px 150px 50px;
        top: 0;
        right: 0;
        z-index: 99;
        transition: right .3s ease-in-out;
    }
}


/* Intro */

.intro {
    background: url(../img/imgHome.jpg) no-repeat center center;
    background-size: cover;
    padding: 260px 0 250px 0;
    color: #f2ece0;
}

@media (max-width: 959px) {
    .intro {
        padding: 180px 0 150px 0;
        text-align: center;
    }
    .intro>div {
        width: 300px;
        margin: 0 auto;
    }
}

.intro>div {
    max-width: 960px;
    margin: 0 auto;
}

.intro h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: currentColor;
}

.intro p {
    font-size: 0.75em;
    line-height: 2em;
    margin-bottom: 15px;
}

.button-intro {
    width: 220px;
    background: none;
    color: #d99725;
    font-weight: bold;
    font-size: 0.75em;
    padding: 15px 0;
    margin-right: 15px;
    border: 2px solid;
    border-radius: 40px;
    transition: 0.3s;
}

.button-intro:hover {
    background: #d99725;
    color: #192951;
    border: 2px solid #d99725;
    transition: 0.3s;
}

@media (max-width: 959px) {
    .container-btn {
        flex-direction: row;
        justify-content: center;
    }
    .button-intro {
        width: 120px;
    }
    .intro>div {
        width: 300px;
        margin: 0 auto;
    }
}


/* Sobre Nós */

.sobre {
    background: #f2ece0;
    padding: 80px 0;
    font-family: "Montserrat", sans-serif;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.paragrafo-sobre {
    font-size: 0.75em;
    line-height: 1.6em;
    margin-bottom: 50px;
}

.valores-sobre {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

.valores-sobre::before {
    content: "";
    background: #192951;
    width: 1154px;
    height: 2px;
    position: absolute;
    top: 957px;
}

@media (max-width: 959px) {
    .sobre-container {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .paragrafo-sobre p {
        margin-bottom: 20px;
    }
    .paragrafo-sobre {
        margin-bottom: 10px;
    }
}


/* Media Querie Valores */

@media (max-width: 959px) {
    .valores-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .valores-sobre::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 50%;
        height: 250px;
        top: 1010px;
        z-index: 20;
    }
}

.valores-sobre p {
    font-size: 0.75em;
    line-height: 1.4em;
}

.valores-item {
    max-width: 200px;
    margin: 0 50px;
}

@media (max-width: 959px) {
    .valores-item {
        max-width: 300px;
        display: flex;
        margin: 20px;
        align-items: center;
    }
    .valores-item p {
        max-width: 100px;
        margin-left: 100px;
        text-align: right;
    }
}

.valores-item h3 {
    font-size: 1.5em;
}

.valores-item h3::after {
    content: "";
    width: 20px;
    height: 20px;
    margin: 15px 0;
    display: block;
    background: currentColor;
    border-radius: 50%;
    border: 5px solid #f2ece0;
    box-shadow: 0 0 0 2px currentColor;
}

@media (max-width: 959px) {
    .valores-item h3::after {
        content: "";
        display: none;
    }
    .valores-item h3::before {
        content: "";
        position: absolute;
        left: calc(50% - 13px);
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
        background: currentColor;
        border-radius: 50%;
        border: 5px solid #f2ece0;
        box-shadow: 0 0 0 2px currentColor;
        z-index: 5;
    }
}


/* Nossos Projetos */

.projetos {
    background: #f2ece0;
    color: #192951;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 959px) {
    .projetos-container {
        max-width: 300px;
        margin: 0 auto;
    }
}

.projetos {
    padding: 60px 0;
}

.projetos-container {
    max-width: 960px;
    margin: 0 auto;
}

.projetos h2 {
    font-size: 2em;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 2em;
}

.projetos h2::before {
    content: "";
    display: block;
    width: 600px;
    height: 2px;
    background: #cbc2b2;
    margin: 0 auto;
    position: relative;
    top: -60px;
}

.img {
    position: relative;
    transition: 0.3s;
}

.img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    z-index: 9;
}

.img span {
    display: flex;
    position: absolute;
    color: #192951;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 1.2em;
    opacity: 0;
    transition: 0.3s;
}

.projetos-img span {
    transition: 0.3s;
}

.projetos-img span:hover {
    opacity: 0.5;
    transition: 0.3s;
}

@media (max-width: 959px) {
    .projetos h2 {
        max-width: 300px;
        text-align: center;
        font-size: 2em;
        margin: 50px auto;
        text-transform: uppercase;
        font-size: 2em;
    }
    .projetos h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #cbc2b2;
        margin: 0 auto;
        position: relative;
        top: -60px;
    }
}

.projetos-img-container {
    flex-wrap: wrap;
    flex: 1;
}

.projetos-block {
    display: flex;
    flex-direction: row;
}

@media (max-width: 959px) {
    .projetos-img-container img {
        display: block;
        width: 100%;
        height: auto;
    }
}


/* Praceiros */

.parceiros {
    text-align: center;
    padding: 50px 0 60px 0;
    background: #f2ece0;
}

.parceiros h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #d99725;
}

.parceiros h2::before {
    content: "";
    display: block;
    width: 600px;
    height: 2px;
    background: #cbc2b2;
    margin: 0 auto;
    position: relative;
    top: -50px;
}

.parceiros-img {
    margin: 0 20px;
}

.parceiros-img-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 959px) {
    .parceiros-img-container {
        flex-direction: column;
    }
    .parceiros-img {
        margin: 20px 0px;
    }
    .parceiros h2::before {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #cbc2b2;
        margin: 0 auto;
        position: relative;
        top: -50px;
    }
}


/* Rodape */

.footer {
    background: #d99725;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75em;
    color: #f2ece0;
}

.social {
    padding: 50px 0;
    align-items: center;
}

.logo-footer {
    margin-right: 40px;
}

.social-icons a {
    margin: 0 5px;
}

.local {
    display: flex;
    margin-left: 220px;
}

.local p {
    margin-left: 10px;
    padding-top: 2px;
}

@media (max-width: 959px) {
    .logo-footer {
        margin: 0;
    }
    .local {
        display: flex;
        margin-left: 0px;
    }
    .social-icons {
        margin: 20px auto;
    }
    .local p {
        margin-left: 10px;
        padding-top: 2px;
    }
}

.whatsapp {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    margin-left: 30px;
}

.whatsapp p {
    margin-left: 10px;
}

.copy {
    max-width: 960px;
    padding: 50px 0;
    border-top: 1px solid #f2ece0;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 959px) {
    .whatsapp {
        display: flex;
        align-items: center;
        padding-bottom: 3px;
        margin-top: 20px;
    }
    .whatsapp p {
        margin-left: 10px;
    }
    .copy {
        max-width: 300px;
        padding: 50px 0;
        border-top: 1px solid #f2ece0;
        margin: 0 auto;
        text-align: center;
    }
}


/* Pagina Projetos */

.header-projetos {
    background: #192951;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
}

.logo-container {
    text-align: center;
    padding: 15px 0;
}

.logo-container::after {
    content: '';
    background: #22386e;
    width: 960px;
    height: 1px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

@media (max-width: 959px) {
    .logo-container {
        display: none;
    }
    .header-container {
        width: 300px;
        margin: 0 auto;
    }
    .logo-container::after {
        display: none;
    }
}

.logo-projetos img {
    max-width: 50px;
}

.titulo-projeto-container {
    display: flex;
    color: #F2ECE0;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
}

.titulo-projeto {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo-projeto h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.titulo-projeto p {
    font-size: 0.75em;
}

@media (max-width: 959px) {
    .logo-projetos img {
        max-width: 40px;
    }
    .titulo-projeto-container {
        padding: 30px 0;
    }
    .titulo-projeto h1 {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .titulo-projeto p {
        font-size: 0.6em;
    }
    .btn-voltar img {
        max-width: 50px;
        display: block;
    }
}


/* Conteudo Projeto */

.paragrafo-container {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.paragrafo-container h2 {
    font-size: 2em;
    text-transform: uppercase;
}

.paragrafo-container p {
    margin: 30px 0;
    line-height: 1.6em;
    font-size: 1em;
}

.paragrafo-container img {
    max-width: 100%;
    display: block;
}

@media (max-width: 959px) {
    .paragrafo-container {
        max-width: 300px;
        text-align: center;
    }
    .paragrafo-container img {
        max-width: 100%;
        display: block;
    }
}


/* Galeria Projetos */

.galeria-projetos-container {
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.img-galeria {
    margin: 7px;
}

.img-galeria img {
    max-width: 100%;
    display: block;
}

@media (max-width: 959px) {
    .galeria-projetos-container {
        max-width: 300px;
        justify-content: center;
    }
    .img-galeria img {
        max-width: 100%;
        display: block;
    }
}


/* Contatos Página */

.contato {
    display: flex;
    font-family: "Montserrat", sans-serif;
    background: #F2F2F2;
}

@media (max-width: 959px) {
    .contato {
        flex-direction: column;
    }
}

.orcamento {
    padding: 100px 50px 100px 200px;
    background: #fff;
    text-align: left;
    color: #192951;
}

.orcamento h2 {
    font-size: 1.5em;
    margin: 0 0 10px 70px;
}

.orcamento h2::before {
    content: '';
    display: block;
    position: relative;
    top: 14px;
    left: -70px;
    background: #d99725;
    height: 2px;
    width: 50px;
}

.orcamento p {
    font-size: 0.75em;
    margin-bottom: 10px;
    color: #A8B3BC;
}

@media (max-width: 959px) {
    .orcamento {
        padding: 50px 10px;
        text-align: center;
    }
    .orcamento h2 {
        font-size: 1em;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    .orcamento h2::after {
        content: '';
        display: block;
        position: relative;
        background: #d99725;
        margin: 10px auto;
        text-align: center;
        height: 2px;
        width: 40px;
    }
    .orcamento p {
        width: 200px;
        font-size: 0.75em;
        margin: 10px auto;
        color: #A8B3BC;
    }
}

.msg input {
    width: 476px;
    height: 130px;
}

.msg button {
    display: block;
}

.form-orcamento label {
    display: none;
}

.form-orcamento input {
    margin: 8px 10px 8px 0;
    padding: 10px 20px;
    border: 1px solid #A8B3BC;
}

@media (max-width: 959px) {
    .msg input {
        width: 250px;
        height: 100px;
        margin: 0 auto;
    }
    .form-orcamento input {
        width: 250px;
        margin: 5px auto;
    }
}

.button-contato {
    color: #f2ece0;
    background: #d99725;
    width: 130px;
    padding: 15px;
    border: none;
    margin-top: 8px;
    border-radius: 30px;
    transition: 0.3s;
}

.button-contato:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 959px) {
    .button-contato {
        margin: 5px auto;
    }
}

.contate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.contate-container {
    width: 300px;
}

@media (max-width: 959px) {
    .contate {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
    }
}

.contate-container h2 {
    font-size: 1.5em;
    margin: 0 0 10px 70px;
}

.contate-container p {
    font-size: 1em;
    margin-bottom: 20px;
}

.contate-container h2::before {
    content: '';
    display: block;
    position: relative;
    top: 14px;
    left: -70px;
    background: #d99725;
    height: 2px;
    width: 50px;
}

@media (max-width: 959px) {
    .contate-container h2 {
        font-size: 1em;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    .contate-container h2::before {
        display: none;
    }
    .contate-container h2::after {
        content: '';
        display: block;
        position: relative;
        background: #d99725;
        margin: 10px auto;
        text-align: center;
        height: 2px;
        width: 40px;
    }
}

.contate-container h3 {
    font-size: 0.75em;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #A8B3BC;
}

@media (max-width: 959px) {
    .icons-contatos {
        margin: 20px 0 0 0;
    }
}

.assine {
    background: #d99725;
    font-family: "Montserrat", sans-serif;
    padding: 40px 0;
}

.assine-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.assine-container h2 {
    font-size: 1.5em;
    margin: 0 0 10px 70px;
    color: #fff;
}

@media (max-width: 959px) {
    .assine-container {
        width: 300px;
        flex-direction: column;
    }
    .assine-container h2 {
        font-size: 1em;
    }
}

.assine-container h2::before {
    content: '';
    display: block;
    position: relative;
    top: 14px;
    left: -70px;
    background: #192951;
    height: 2px;
    width: 50px;
}

.assine-container p {
    font-size: 0.75em;
    color: #AE791D;
}

.form-assine {
    margin-left: 40px;
}

.form-assine label {
    display: none;
}

.form-assine input {
    width: 180px;
    background: #d99725;
    border: 2px solid #AE791D;
    padding: 14px 0px 14px 30px;
    width: 180px;
    font-size: 0.75em;
}

@media (max-width: 959px) {
    .form-assine {
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-assine input {
        width: 166px;
    }
}

.form-assine button {
    color: #f2ece0;
    background: #AE791D;
    width: 70px;
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 0.75em;
}

@media (max-width: 959px) {
    .form-assine button {
        border-radius: 0;
        margin: 0;
        padding: 16px 15px;
    }
}

.form-assine button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}